.simple-ui-header {
  background-color: var(--primary-bg);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: var(--primary-color);
}



.header-inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-logo img {
  height: 50px;
  object-fit: contain;
}

.header-nav {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.header-menu-item {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

.header-menu-item:hover {
  color: var(--color-primary);
}